/* bg */
$bg-color: $color-white-s;
$bg-color-header: $color-black-l;
$bg-color-asaid: $color-black-l;
$bg-color-index: $gradient-yellow-orange-pink;

/* text */
$color-text: $color-black;
$text-color-index: $color-white;

/* Icons */
$color-icon: $color-purple-l;