.index {
    background-color: $bg-color-header;
    color: $text-color-index;
    min-height: calc(100vh - 130px);
    text-align: center;
    padding: 20px;

    &__wrapper {
        @include flex;
    }

    &__menu {
        background-color: $bg-color-header;
        width: 300px;
    }

    &__content {
        background-color: $bg-color-index;
    }
}