<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./static/css/main.css">
    {% if title %}
    <title>{% block title %}{% endblock %}</title>
    {% else %}
    <title>English</title>
    {% endif %}
</head>

<body>
    <header class="header">
        <div class="box_shadow">
            <div class="header__wrapper container">
                <svg class="header__logo">
                    <use class="text-white" href="{% static 'icon/sprite.svg' %}#logo" fill="white"></use>
                </svg>
                <nav class="header__menu">
                    <ul class="header__menu__list">
                        <li class="header__menu__list-items">
                            <a class="header__menu__list-link" href="#">
                                <svg class="header__menu-icon">
                                    <use class="icon__color" href="{% static 'icon/sprite.svg' %}#house">
                                    </use>
                                </svg>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="header__menu__list-items">
                            <a class="header__menu__list-link" href="#">
                                <svg class="header__menu-icon">
                                    <use class="text-white" href="{% static 'icon/sprite.svg' %}#speedometer2">
                                    </use>
                                </svg>
                                <span>Features</span>
                            </a>
                        </li>
                        <li class="header__menu__list-items">
                            <a class="header__menu__list-link" href="#">
                                <svg class="header__menu-icon">
                                    <use class="text-white" href="{% static 'icon/sprite.svg' %}#table">
                                    </use>
                                </svg>
                                <span>Pricing</span>
                            </a>
                        </li>
                        <li class="header__menu__list-items dropdown">
                            <a class="header__menu__list-link" href="#">
                                <svg class="header__menu-icon">
                                    <use class="text-white" href="{% static 'icon/sprite.svg' %}#person-circle">
                                    </use>
                                </svg>
                                <span>Hi, user!</span>
                            </a>
                            <div class="dropdown-content">
                                <a href="#">Profile</a>
                                <a href="#">Logout</a>
                                <a href="#">Link 3</a>
                            </div>

                        </li>
                        <li class="header__menu__list-items ">
                            <select name="theme" id="theme">
                                <option value="light" selected="selected">Light</option>
                                <option value="dark">dark</option>
                                <option value="soft">soft</option>
                            </select>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block body %}

    {% endblock %}



    <script src="../../../static/JS/app.js"></script>
</body>

</html>