{% extends 'base/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<main>
    <section class="index">
        <div class="index__wrapper">
            <aside class="index__menu">
                {% for theme in tremes %}
                <details>
                    <summary>
                        <h4>{{theme.name}}</h4>
                    </summary>
                    {% for category in theme.categories.all %}
                    {% for link in category.link.all %}
                    <a href="{{ link }}">{{category}}</a>
                    {% endfor %}
                    {% endfor %}
                </details>
                {% endfor %}
            </aside>
            <div class="index__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque assumenda
                velit odit! Maxime suscipit aliquam facilis officiis, facere sequi vel incidunt accusantium tempora
                consectetur unde magni ad aut Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis iure,
                delectus, repellat quae sed adipisci aliquam eum quas molestias totam laudantium. Molestias quos quae
                nam facere voluptatibus ipsa accusantium delectus.
                Laudantium soluta corporis, corrupti esse, dolor vero commodi dicta nemo necessitatibus accusantium modi
                ad, tempora dolorem non hic? Explicabo, officia earum? Adipisci doloremque reprehenderit est cumque
                tee
                ratione distinctio.
                Autem magni iste provident ipsum nesciunt obcaecati assumenda, aperiam quidem voluptas exercitationem ad
                dicta et tempora necessitatibus. Quos deserunt adipisci hic nihil possimus ullam vero pariatur
                perspiciatis enim, voluptatem voluptate!
                Eum sunt dolor iste architecto eligendi vel eaque, placeat temporibus maiores perferendis aut saepe, ad
                iure. Aliquid, voluptatum blanditiis quo, ea autem nesciunt voluptate ratione, illum vitae accusantium
                eum. Explicabo.

            </div>
        </div>
    </section>
</main>

{% endblock %}