{% extends 'base/base.html' %}
{% block body %}
<section class="index">
    <div class="container">
        <h1>Topics to review</h1>
        <div class="index__wrapper">
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>
            <div class="index__card">
                <h4 class="index__card-title">Irregular Verbs</h4>
            </div>

        </div>



    </div>

</section>
{% endblock %}